<hr>
<div class="About Us">
    <h1> Ristorante Il Gambero Rosso</h1>
  
 <div class="image">
        <img src="https://cdn.pixabay.com/photo/2020/04/17/12/49/barista-5055060_960_720.jpg" width="50%">
        <img src="https://cdn.pixabay.com/photo/2019/06/02/17/33/woman-4246954_960_720.jpg" width="50%">
        
        
        <h2>Lorem Ipsum</h2>
        <ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime asperiores accusantium aspernatur ex molestiae explicabo quae ipsa omnis fugit suscipit! Quam a voluptatum sit dolor voluptates labore aliquam laboriosam ducimus?
           
           
            <br>
           
                <li>ipsum cupiditate necessitatibus quisquam dolorum quos est consectetur deserunt ducimus enim unde quam officiis illum! Cumque cupiditate provident autem dolore, vel qui quod!
                    Voluptatum praesentium atque eum obcaecati dolorem? Praesentium explicabo totam odio veritatis</li>
                  <li>Iste suscipit, sint, adipisci quas ut amet quia velit, fugiat minima ipsa nostrum animi ad! Sequi, reprehenderit quos quia ad autem modi, totam, ipsa earum sint quas aperiam laboriosam? Non.</li>  
           
      </p>
    </ul>
      

    
    
             
      
    </div>
    
</div>



