<header>
    
    <div
      class="p-5 text-center bg-image"
      style="
        background-image:url(https://www.tastingtable.com/img/gallery/20-italian-dishes-you-need-to-try-at-least-once/l-intro-1643403830.jpg);
        height: 400px;
      "
    >
      <div class="hero" style="background-color: rgba(0, 0, 0, 0);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3"> Ristorante Il Gambero Rosso</h1>
            <h4 class="mb-3">Delivering great food from Italy</h4>
            <button type="button" class="btn btn-success">Our Menu</button>
            <button type="button" class="btn btn-success">Book a Table</button>
           
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

